.gallery-box {
    width: 80%;
    position: relative;
}

.btn-prev {
    position: absolute;
    left: 10px;
    top: 50%;
}

.btn-next {
    position: absolute;
    right: 10px;
    top: 50%;
}

img {
    height: 300px;
    width: 100%;
    object-fit: scale-down;
}
.thumbs-container {
    display: flex;
    flex-wrap: wrap;

}
.thumbs-container img {
    width: 15%;
    height: 50px;
}

.content {
    width: 100vw;
    height: 100vh;
}